ID_selector/ID_selector.cache/*
ID_selector/ID_selector.sim/*
ID_selector/ID_selector.ip_user_files/*
ID_selector/ID_selector.runs/*

ram_reader/ram_reader.cache/*
ram_reader/ram_reader.sim/*
ram_reader/ram_reader.ip_user_files/*
ram_reader/ram_reader.runs/*

memorice/memorice.cache/*
memorice/memorice.sim/*
memorice/memorice.ip_user_files/*
memorice/memorice.runs/*

state_wait/state_wait.cache/*
state_wait/state_wait.sim/*
state_wait/state_wait.ip_user_files/*
state_wait/state_wait.runs/*

state_init/state_init.cache/*
state_init/state_init.sim/*
state_init/state_init.ip_user_files/*
state_init/state_init.runs/*

Show/Show.cache/*
Show/Show.sim/*
Show/Show.ip_user_files/*
Show/Show.runs/*