ID_selector/ID_selector.cache/*
ID_selector/ID_selector.sim/*
ID_selector/ID_selector.ip_user_files/*
ID_selector/ID_selector.runs/*

ram_reader/ram_reader.cache/*
ram_reader/ram_reader.sim/*
ram_reader/ram_reader.ip_user_files/*
ram_reader/ram_reader.runs/*

state_wait/state_wait.cache/*
state_wait/state_wait.sim/*
state_wait/state_wait.ip_user_files/*
state_wait/state_wait.runs/*

state_init/state_init.cache/*
state_init/state_init.sim/*
state_init/state_init.ip_user_files/*
state_init/state_init.runs/*

state_results/state_results.cache/*
state_results/state_results.sim/*
state_results/state_results.ip_user_files/*
state_results/state_results.runs/*

driver/driver.cache/*
driver/driver.sim/*
driver/driver.ip_user_files/*
driver/driver.runs/*

game/game.cache/*
game/game.sim/*
game/game.ip_user_files/*
game/game.runs/*

init_axi/init_axi.cache/*
init_axi/init_axi.sim/*
init_axi/init_axi.ip_user_files/*
init_axi/init_axi.runs/*

LightController/LightController.cache/*
LightController/LightController.sim/*
LightController/LightController.ip_user_files/*
LightController/LightController.runs/*

memorice *